*{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #000000;
    margin: 0;
    padding: 0;
}
.container__title{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.title{
    margin: 0;
    padding: 20px 0px 0px 0px;
    color: #ffffff;
    text-align: center;
    font-family:sans-serif;
    font-size: 50px; 
}
.logo{
    margin-top: 20px;
    width: 70px;
    height: 70px;
    border: solid 2px #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 2px 1px #ffffff;
}

.logo__text{
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 0px 0px 20px;
    text-shadow: -1.5px 1.5px 5px #ffffff;
}

.title__info{
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 20px;
}

.container{
    display: block;
    margin: 0;
    text-align: center;
}
.container__video{
    width: 100%;
    height: 420px;
    padding: 35px 0px 20px 0px;
}
.movie{
    width: 45%;
}

.video{
    z-index: 1;
}
.container__buttons{
    width: 45%;
    height: 345px;
    z-index: 2;
    position: relative;
    top: -350px;
    display: block;
    margin: auto;
    padding: 0;
}
.buttons{
    z-index: 3;  
}

.buttons,
.button{
    position: relative;
    top: -400px;
}

.container__buttons:hover .buttons{
    top:305px;
    display:flex;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-top: solid 4px rgba(250, 250, 250, 0.4);
    justify-content:start;
    gap:50px;
}
.container__buttons:hover .button{
    top: 0px;
    margin: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #ffffff;
}
.ri-2x{
    padding: 5px;
}
.play-pause,
.mute-up{
    position: relative;
}



/********* footer *********/
.footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 40px;
    color: #000000;
}
.git{
    text-decoration: none;
    padding-left: 2px;
}

/***** comment ******/
.container__comments{
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 25px;
    border: solid 1px #b1b1b1;
    box-shadow: 2px 2px 10px 1px #000000;  
}
.comment{
    margin: 80px 250px 40px 100px;
}
/* Responsive */


@media (max-width: 1100px) {
    .movie,
    .container__buttons{
        width: 100%;
    }  
    .container__video{
        margin-bottom: 250px;
    }
}

@media (max-width: 1000px) {
    .container__video{
        margin-bottom: 180px;
    }
    .comment{
        margin: 50px 200px 40px 200px;
    }
    
}
@media (max-width: 900px) {
    .container__video{
        margin-bottom: 130px;
    }
    .comment{
        margin: 40px 100px 40px 100px;
    }
}
@media (max-width: 800px) {
    .container__video{
        margin-bottom: 50px;
    }
    .comment{
        margin: 35px 80px 40px 80px;
    }
}

@media (max-width: 600px) {
    .container__video{
        margin-bottom: 10px;
    }
}

@media (max-width:420px ) {
    .container__title{
    flex-direction: column;
    }
    .logo{
    display: block;
    margin: auto;
    }
}
